.jumbotron {
  padding-top: 6rem;
  background-color: #d3feff;
}
#About {
  background-color: #0099ff;
  color: #ffffff;
}
#Project {
  background-color: #d3feff;
}
.card {
  background-color: #0099ff;
}
.card-title {
  text-align: center;
}
#Contact {
  background-color: #d3feff;
}
footer {
  background-color: #0099ff;
  text-align: center;
  padding: 1rem;
}
